In [108]:
import pandas as pd
import datetime as dt

## Review of Python's `datetime` Module

In [2]:
someday = dt.date(2010, 1, 20)

In [3]:
someday.year
someday.month
someday.day

20

In [4]:
str(someday)

'2010-01-20'

In [5]:
str(dt.datetime(2010, 1, 10, 17, 13, 57))

'2010-01-10 17:13:57'

In [6]:
sometime = dt.datetime(2010, 1, 10, 17, 13, 57)

In [7]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

57

## The `pandas Timestamp` Object

In [8]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013, 11, 04")
pd.Timestamp("1/1/2015")
pd.Timestamp("19/12/2015")
pd.Timestamp("12/19/2015")
pd.Timestamp("4/3/2000")
pd.Timestamp("2021-03-08 08:35:15")
pd.Timestamp("2021-03-08 6:13:29 PM")

Timestamp('2021-03-08 18:13:29')

In [9]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

In [10]:
pd.Timestamp(dt.datetime(2000, 2, 3, 21, 35, 22))

Timestamp('2000-02-03 21:35:22')

## The `pandas DateTimeIndex` Object

In [11]:
dates = ["2016/01/02", "2016/04/12", "2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [12]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)

In [13]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2016-01-10    100
1994-06-13    200
2003-12-29    300
dtype: int64

## The `pd.to_datetime()` Method

In [110]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
# pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

Timestamp('2015-01-01 14:35:20')

In [16]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

0        2015-01-03
1        2014/02/08
2              2016
3    July 4th, 1996
dtype: object

In [111]:
pd.to_datetime(times)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [20]:
pd.to_datetime(dates, errors = "coerce")

0   1996-07-04
1          NaT
2          NaT
3          NaT
dtype: datetime64[ns]

In [21]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

In [22]:
pd.Period("2016-01-08", freq = "10D")

Period('2016-01-08', '10D')

In [23]:
dates = ["2016-01-01", "2016-02-01", "2016-03-01"]
pd.Series([1, 2, 3], index = pd.PeriodIndex(dates, freq = "2M"))

2016-01    1
2016-02    2
2016-03    3
Freq: 2M, dtype: int64

In [24]:
pd.Period("2016-01-08", freq = "W")
pd.Period("2016-01-08", freq = "W-SUN")
pd.Period("2016-01-08", freq = "W-WED")
pd.Period("2015-12-10", freq = "10D")

dates = ["2016-01-01", "2016-02-01", "2016-02-01"]
pd.PeriodIndex(dates, freq = "W-MON")
weeks = pd.PeriodIndex(dates, freq = "W-MON")

pd.Series([999, 500, 325], index = weeks, name = "Weekly Revenue")

2015-12-29/2016-01-04    999
2016-01-26/2016-02-01    500
2016-01-26/2016-02-01    325
Freq: W-MON, Name: Weekly Revenue, dtype: int64

## Create Range of Dates with the `pd.date_range()` Method, Part 1

In [25]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")

In [26]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [28]:
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the `pd.date_range()` Method, Part 2

In [29]:
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

## Create Range of Dates with the `pd.date_range()` Method, Part 3

In [30]:
pd.date_range(end = "1999-12-31", periods = 100, freq = "7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

## The `.dt` Accessor

In [31]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")

In [32]:
s = pd.Series(bunch_of_dates)
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [33]:
mask = s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

## Import Financial Data Set with `pandas_datareader` Library

In [35]:
#!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     ---------------------------------------- 0.0/109.5 kB ? eta -:--:--
     -------------------------------------- 109.5/109.5 kB 6.2 MB/s eta 0:00:00
Requirement already satisfied: lxml in c:\users\dhell\anaconda3\lib\site-packages (from pandas_datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\dhell\anaconda3\lib\site-packages (from pandas_datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\dhell\anaconda3\lib\site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dhell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dhell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dhell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\dhell\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dhell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dhell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dhell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dhell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2023.7.22)
Requirement already satisfied: six>=1.5 in c:\users\dhell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

In [36]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [39]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"

stocks = data.DataReader(name = company, data_source = "stooq", start = start, end = end)
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2017-12-29  80.6384  81.0314  80.5152  80.5540  1.969613e+07
2017-12-28  80.8935  80.9212  80.5629  80.7248  1.124459e+07
2017-12-27  80.6582  80.9689  80.2472  80.7148  1.556996e+07

In [40]:
stocks.values
stocks.columns
stocks.index[0]
stocks.axes

[DatetimeIndex(['2017-12-29', '2017-12-28', '2017-12-27', '2017-12-26',
                '2017-12-22', '2017-12-21', '2017-12-20', '2017-12-19',
                '2017-12-18', '2017-12-15',
                ...
                '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
                '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
                '2010-01-05', '2010-01-04'],
               dtype='datetime64[ns]', name='Date', length=2013, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

## Selecting from a `DataFrame` with a `DateTimeIndex`

In [44]:
stocks = data.DataReader(name = company, data_source = "stooq", start = start, end = end)
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2017-12-29  80.6384  81.0314  80.5152  80.5540  1.969613e+07
2017-12-28  80.8935  80.9212  80.5629  80.7248  1.124459e+07
2017-12-27  80.6582  80.9689  80.2472  80.7148  1.556996e+07

In [47]:
stocks.loc["2014-03-04"]
stocks.iloc[300]
# stocks.ix["2014-03-04"]
# stocks.ix[300]

Open      5.260960e+01
High      5.262950e+01
Low       5.184420e+01
Close     5.238130e+01
Volume    4.603792e+07
Name: 2016-10-20 00:00:00, dtype: float64

In [ ]:
# stocks.ix["2016-01-01"]

In [48]:
stocks.loc["2013-10-01" : "2013-10-07"]
# stocks.ix["2013-10-01" : "2013-10-07"]

               Open     High      Low    Close        Volume
Date
2013-10-07  28.3306  28.4209  27.9940  28.0754  4.159240e+07
2013-10-04  28.4059  28.6601  28.3484  28.5668  3.913007e+07
2013-10-03  28.5668  28.6661  28.1747  28.5489  4.590812e+07
2013-10-02  28.1260  28.6928  28.0665  28.5976  5.566476e+07
2013-10-01  28.1102  28.3395  28.0754  28.3106  4.352740e+07

In [49]:
birthdays = pd.date_range(start = "1991-04-12", end = "2017-12-31", freq = pd.DateOffset(years = 1))

In [50]:
mask = stocks.index.isin(birthdays)

In [51]:
stocks[mask]

               Open     High      Low    Close        Volume
Date
2017-04-12  60.6262  60.7106  60.3403  60.4504  1.777855e+07
2016-04-12  49.0942  49.4625  48.5433  49.3474  2.634784e+07
2013-04-12  23.9882  24.1281  23.8293  23.9356  7.563946e+07
2012-04-12  24.6027  25.0545  24.5540  25.0068  4.745507e+07
2011-04-12  20.2881  20.3101  20.0727  20.1451  4.698646e+07
2010-04-12  23.7738  23.9594  23.7291  23.8254  4.717443e+07

## `Timestamp` Object Attributes

In [52]:
stocks = data.DataReader(name = company, data_source = "stooq", start = start, end = end)
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2017-12-29  80.6384  81.0314  80.5152  80.5540  1.969613e+07
2017-12-28  80.8935  80.9212  80.5629  80.7248  1.124459e+07
2017-12-27  80.6582  80.9689  80.2472  80.7148  1.556996e+07

In [54]:
stocks.index[500]

Timestamp('2016-01-06 00:00:00')

In [55]:
someday = stocks.index[500]
someday

Timestamp('2016-01-06 00:00:00')

In [66]:
someday.month
someday.week
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.is_quarter_end
someday.day

6

In [69]:
someday.month_name()
someday.day_name()

'Wednesday'

In [72]:
stocks.index.day_name()

Index(['Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Friday', 'Thursday',
       'Wednesday', 'Tuesday', 'Monday', 'Friday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=2013)

In [74]:
someday.day
someday.month
someday.year
# someday.weekday_name
# someday.is_month_end
# someday.is_month_start

2016

In [77]:
stocks.insert(0, "Day of Week", stocks.index.day_name())

In [79]:
stocks

           Day of Week     Open     High      Low    Close        Volume
Date
2017-12-29      Friday  80.6384  81.0314  80.5152  80.5540  1.969613e+07
2017-12-28    Thursday  80.8935  80.9212  80.5629  80.7248  1.124459e+07
2017-12-27   Wednesday  80.6582  80.9689  80.2472  80.7148  1.556996e+07
2017-12-26     Tuesday  80.3386  80.5490  80.0755  80.4240  1.049968e+07
2017-12-22      Friday  80.4240  80.6384  79.9682  80.5252  1.494780e+07
...                ...      ...      ...      ...      ...           ...
2010-01-08      Friday  23.7837  24.2642  23.7608  24.0934  6.515561e+07
2010-01-07    Thursday  24.0537  24.1232  23.7221  23.9257  6.434577e+07
2010-01-06   Wednesday  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05     Tuesday  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04      Monday  24.0854  24.4389  24.0358  24.3178  4.886916e+07

[2013 rows x 6 columns]

In [85]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [86]:
stocks

,Day of Week,Is Start of Month,Is Start Month,Start Month,Open,High,Low,Close,Volume
Date,,,,,,,,,
2017-12-29,Friday,False,False,False,80.6384,81.0314,80.5152,80.5540,1.969613e+07
2017-12-28,Thursday,False,False,False,80.8935,80.9212,80.5629,80.7248,1.124459e+07
2017-12-27,Wednesday,False,False,False,80.6582,80.9689,80.2472,80.7148,1.556996e+07
2017-12-26,Tuesday,False,False,False,80.3386,80.5490,80.0755,80.4240,1.049968e+07
2017-12-22,Friday,False,False,False,80.4240,80.6384,79.9682,80.5252,1.494780e+07
...,...,...,...,...,...,...,...,...,...
2010-01-08,Friday,False,False,False,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,False,False,False,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,False,False,False,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,False,False,False,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,False,False,False,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [87]:
stocks[stocks["Is Start of Month"]]

,Day of Week,Is Start of Month,Is Start Month,Start Month,Open,High,Low,Close,Volume
Date,,,,,,,,,
2017-12-01,Friday,True,True,True,78.7272,79.8660,78.3719,79.3478,3.120647e+07
2017-11-01,Wednesday,True,True,True,78.4106,78.4810,77.6580,77.9410,2.380699e+07
2017-09-01,Friday,True,True,True,70.0029,70.0306,69.0021,69.2830,2.319337e+07
2017-08-01,Tuesday,True,True,True,68.1345,68.4303,67.5647,67.6471,2.232274e+07
2017-06-01,Thursday,True,True,True,65.4679,65.8134,64.7343,65.3359,2.314744e+07
...,...,...,...,...,...,...,...,...,...
2010-07-01,Thursday,True,True,True,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,Tuesday,True,True,True,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,Thursday,True,True,True,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,Monday,True,True,True,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,Monday,True,True,True,22.3144,22.3809,21.9382,22.3234,1.092082e+08

## The `.truncate()` Method

In [91]:
stocks = data.DataReader(name = "MSFT", data_source = "stooq", start = "2010-01-01", end = "2020-12-13")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-11  206.376  209.572  205.443  209.514  3.153184e+07
2020-12-10  208.064  209.334  206.684  206.843  2.693875e+07
2020-12-09  211.399  211.459  207.517  208.094  3.299802e+07

In [ ]:
stocks.truncate(before = "2012-06-07", after = "2013-02-28")

## `pd.DateOffset` Objects

In [93]:
stocks = data.DataReader(name = "MSFT", data_source = "stooq", start = "2010-01-01", end = "2020-12-13")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-11  206.376  209.572  205.443  209.514  3.153184e+07
2020-12-10  208.064  209.334  206.684  206.843  2.693875e+07
2020-12-09  211.399  211.459  207.517  208.094  3.299802e+07

In [97]:
stocks.index + pd.DateOffset(days = 5)
stocks.index - pd.DateOffset(days = 5)

# stocks.index = stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2020-12-06', '2020-12-05', '2020-12-04', '2020-12-03',
               '2020-12-02', '2020-11-29', '2020-11-28', '2020-11-27',
               '2020-11-26', '2020-11-25',
               ...
               '2010-01-10', '2010-01-09', '2010-01-08', '2010-01-07',
               '2010-01-06', '2010-01-03', '2010-01-02', '2010-01-01',
               '2009-12-31', '2009-12-30'],
              dtype='datetime64[ns]', name='Date', length=2756, freq=None)

In [95]:
stocks.index + pd.DateOffset(months = 8, years = 5, days = 12, hours = 3, minutes = 42)

DatetimeIndex(['2026-08-23 03:42:00', '2026-08-22 03:42:00',
               '2026-08-21 03:42:00', '2026-08-20 03:42:00',
               '2026-08-19 03:42:00', '2026-08-16 03:42:00',
               '2026-08-15 03:42:00', '2026-08-14 03:42:00',
               '2026-08-13 03:42:00', '2026-08-11 03:42:00',
               ...
               '2015-09-27 03:42:00', '2015-09-26 03:42:00',
               '2015-09-25 03:42:00', '2015-09-24 03:42:00',
               '2015-09-23 03:42:00', '2015-09-20 03:42:00',
               '2015-09-19 03:42:00', '2015-09-18 03:42:00',
               '2015-09-17 03:42:00', '2015-09-16 03:42:00'],
              dtype='datetime64[ns]', name='Date', length=2756, freq=None)

## Timeseries Offset

In [100]:
stocks = data.DataReader(name = "MSFT", data_source = "stooq", start = "2010-01-01", end = "2020-12-13")
stocks.head(3)

               Open     High      Low    Close        Volume
Date
2020-12-11  206.376  209.572  205.443  209.514  3.153184e+07
2020-12-10  208.064  209.334  206.684  206.843  2.693875e+07
2020-12-09  211.399  211.459  207.517  208.094  3.299802e+07

In [102]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2756, freq=None)

In [103]:
stocks.tail(3)

               Open     High      Low    Close        Volume
Date
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [104]:
from pandas.tseries import offsets

In [105]:
stocks.index + offsets.MonthEnd()

DatetimeIndex(['2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31',
               ...
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31'],
              dtype='datetime64[ns]', name='Date', length=2756, freq=None)

In [107]:
#iniciais B Ã© de business
stocks.index + offsets.BMonthEnd()
stocks.index - offsets.BMonthEnd()

DatetimeIndex(['2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-10-30',
               ...
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31'],
              dtype='datetime64[ns]', name='Date', length=2756, freq=None)

## More Fun with `pd.DateOffset` Objects

In [ ]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

In [ ]:
stocks = data.DataReader(name = "GOOG", data_source = "google",
                start = dt.date(2000, 1, 1), end = dt.datetime.now())

stocks.head(3)

In [ ]:
stocks.index - MonthEnd()
stocks.index - BMonthEnd()
stocks.index - QuarterEnd()
stocks.index - QuarterBegin()

In [ ]:
stocks.index - YearBegin()

## The `Timedelta` Object

In [112]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [113]:
timeB - timeA

Timedelta('-12 days +09:41:33')

In [114]:
type(timeA - timeB)

pandas._libs.tslibs.timedeltas.Timedelta

In [115]:
timeA = pd.Timestamp("2020-03-31 04:35:16 PM")
timeB = pd.Timestamp("2020-03-20 02:16:49 AM")

In [116]:
timeA - timeB

Timedelta('11 days 14:18:27')

In [119]:
timeA + pd.Timedelta(days = 3)

Timestamp('2020-04-03 16:35:16')

In [125]:
timeA + pd.Timedelta(days = 3, minutes = 45)
pd.Timedelta(days = 3, hours = 12, minutes = 45)
pd.Timedelta(days = 3, hours = 12, minutes = 45, seconds = 20)
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 20)

Timedelta('59 days 12:45:20')

In [126]:
type(timeA)

pandas._libs.tslibs.timestamps.Timestamp

In [127]:
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45)

Timedelta('59 days 12:45:00')

In [130]:
pd.Timedelta("5 minutes")
pd.Timedelta("6 hours 5 minutes")
pd.Timedelta("6 hours 5 minutes")

Timedelta('0 days 06:05:00')

In [134]:
pd.Timedelta("3 days 12 hours 45 minutes 20 seconds")
pd.Timedelta("3 days 12 hours 45 minutes 20 seconds")

Timedelta('3 days 12:45:20')

## `Timedeltas` in a Dataset

In [168]:
pd.read_csv("ecommerce.csv")
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"], 
                       date_parser=lambda x: pd.to_datetime(x, format="%m/%d/%y"))

shipping.head(3)

C:\Users\dhell\AppData\Local\Temp\ipykernel_19880\3293517899.py:2: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"],

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [169]:
shipping.info()

<class 'pandas.core.frame.DataFrame'>
Index: 501 entries, 1 to 997
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [170]:
shipping["delivery_date"] - shipping["order_date"]

ID
1      257 days
2     2144 days
4      563 days
5     1948 days
7     1742 days
         ...
990   1684 days
991   2394 days
993   2719 days
994     10 days
997    637 days
Length: 501, dtype: timedelta64[ns]

In [171]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [172]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [174]:
shipping["delivery_date"] + shipping["Delivery Time"]

ID
1     1999-10-20
2     2004-01-18
4     1994-03-12
5     2003-03-22
7     2003-03-18
         ...
990   2000-09-12
991   2004-10-18
993   2005-10-06
994   1993-06-23
997   1993-07-01
Length: 501, dtype: datetime64[ns]

In [175]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [176]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice As Long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [177]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice As Long     datetime64[ns]
dtype: object

In [179]:
mask = shipping["Delivery Time"] > "365 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [183]:
mask = shipping["Delivery Time"] > "3500 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
314 1990-03-07    1999-12-25     3580 days    2009-10-13
884 1990-01-20    1999-11-12     3583 days    2009-09-03
904 1990-02-13    1999-11-15     3562 days    2009-08-16

In [178]:
mask = shipping["Delivery Time"] == "3423 days"
shipping[mask]

    order_date delivery_date Delivery Time Twice As Long
ID
130 1990-04-02    1999-08-16     3423 days    2008-12-29

In [181]:
shipping["Delivery Time"].min()

Timedelta('8 days 00:00:00')

In [182]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')