In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
# df["Senior Management"] = df["Senior Management"].astype("bool")
# df["Gender"] = df["Gender"].astype("category")
# df.head(3)
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2023-08-17 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2023-08-17 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2023-08-17 11:17:00,130590,11.858,False,Finance
3,Jerry,Male,2005-03-04,2023-08-17 13:00:00,138705,9.340,True,Finance
4,Larry,Male,1998-01-24,2023-08-17 16:47:00,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,2014-11-23,2023-08-17 06:09:00,132483,16.655,False,Distribution
996,Phillip,Male,1984-01-31,2023-08-17 06:30:00,42392,19.675,False,Finance
997,Russell,Male,2013-05-20,2023-08-17 12:39:00,96914,1.421,False,Product
998,Larry,Male,2013-04-20,2023-08-17 16:45:00,60500,11.985,False,Business Development
999,Albert,Male,2012-05-15,2023-08-17 18:24:00,129949,10.169,True,Sales

## Filter A `DataFrame` Based On A Condition

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

## Filter with More than One Condition (AND)

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Gender"] == "Male"
mask2 = df["Team"] == "Marketing"

df[mask1 & mask2]

## Filter with More than One Condition (OR)

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Senior Management"]
mask2 = df["Start Date"] < "1990-01-01"

df[mask1 | mask2]

In [ ]:
mask1 = df["First Name"] == "Robert"
mask2 = df["Team"] == "Client Services"
mask3 = df["Start Date"] > "2016-06-01"

df[(mask1 & mask2) | mask3]

## The `.isin()` Method

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask1 = df["Team"] == "Legal"
mask2 = df["Team"] == "Sales"
mask3 = df["Team"] == "Product"

df[mask1 | mask2 | mask3]

## The `.isnull()` and `.notnull()` Methods

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
mask = df["Team"].isnull()

df[mask]

In [ ]:
condition = df["Gender"].notnull()

df[condition]

## The `.between()` Method

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df[df["Salary"].between(60000, 70000)]

In [ ]:
df[df["Bonus %"].between(2.0, 5.0)]

In [ ]:
df[df["Start Date"].between("1991-01-01", "1992-01-01")]

In [ ]:
df[df["Last Login Time"].between("08:30AM", "12:00PM")]

## The `.duplicated()` Method

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.sort_values("First Name", inplace = True)
df.head(3)

In [ ]:
mask = ~df["First Name"].duplicated(keep = False)
df[mask]

## The `.drop_duplicates()` Method

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.sort_values("First Name", inplace = True)
df.head(3)

In [ ]:
len(df)

In [ ]:
len(df.drop_duplicates())

In [ ]:
df.drop_duplicates(subset = ["First Name"], keep = False)

In [ ]:
df.drop_duplicates(subset = ["First Name", "Team"], inplace = True)

In [ ]:
df.head(2)

In [ ]:
len(df)

## The `.unique()` and `.nunique()` Methods

In [ ]:
df = pd.read_csv("employees.csv", parse_dates = ["Start Date", "Last Login Time"])
df["Senior Management"] = df["Senior Management"].astype("bool")
df["Gender"] = df["Gender"].astype("category")
df.head(3)

In [ ]:
df["Gender"].unique()

df["Team"].unique()

In [ ]:
len(df["Team"].unique())

In [ ]:
df["Team"].nunique(dropna = False)