In [1]:
import pandas as pd

In [2]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

## The `pd.concat()` Method, Part 1

In [3]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [4]:
len(week1)

250

In [5]:
len(week2)

250

In [6]:
len(pd.concat([week1, week2]))

500

In [10]:
#indices já repetidos
pd.concat(objs = [week1, week2])
pd.concat(objs = [week1, week2], ignore_index=False)

#indices são recriado sequencialmente por ser ignorado
pd.concat(objs = [week1, week2], ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
..           ...      ...
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

In [14]:
#usando o append para obter o mesmo resultado do concat
#Não existe mais
#week1.append(other = week2, ignore_index=True)

## The `pd.concat()` Method, Part 2

In [15]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [19]:
#como eu pensei no início... se eu não quiser mudar o indice e inserir uma nova coluna - Multi índice Dataframe
sales = pd.concat([week1, week2], keys = ["Week-1", "Week-2"])
sales

            Customer ID  Food ID
Week-1 0            537        9
       1             97        4
       2            658        1
       3            202        2
       4            155        9
...                 ...      ...
Week-2 245          783       10
       246          556       10
       247          547        9
       248          252        9
       249          249        6

[500 rows x 2 columns]

In [27]:
#listando pelo primeiro índice
sales.loc[("Week-1",)]
sales.loc[("Week-2",)]

#encontrando um elemento específico por índice
sales.loc[("Week-2",240)]

#encontrando um elemento específico por índice. Pegando uma coluna apenas
sales.loc[("Week-2",240), "Customer ID"]
sales.loc[("Week-2",240), ["Customer ID", "Food ID"]]

Customer ID    734
Food ID          1
Name: (Week-2, 240), dtype: int64

In [25]:
#Descontinuado
#sales.ix[("B", 240), "Customer ID"]

## The `.append()` Method

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
sales = week2.append(week1, ignore_index = True)

## Inner Joins, Part 1

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
week1.head(2)

In [ ]:
week2.head(2)

In [ ]:
week1.merge(week2, how = "inner", on = "Customer ID", suffixes = [" - A", " - B"])

In [ ]:
week1[week1["Customer ID"] == 155]

In [ ]:
week2[week2["Customer ID"] == 155]

## Inner Joins, Part 2

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
week1.head(2)

In [ ]:
week2.head(2)

In [ ]:
week1.merge(week2, how = "inner", on = ["Customer ID", "Food ID"])

In [ ]:
week1[week1["Customer ID"] == 578]

In [ ]:
week2[week2["Customer ID"] == 578]

## Outer Joins

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
week1.head(2)

In [ ]:
week2.head(2)

In [ ]:
merged = week1.merge(week2, how = "outer", on = "Customer ID", suffixes = [" - Week 1", " - Week 2"],
            indicator = True)

In [ ]:
merged["_merge"].value_counts()

In [ ]:
mask = merged["_merge"].isin(["left_only", "right_only"])
merged[mask]

## Left Joins

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
week1.head(3)

In [ ]:
foods.head(3)

In [ ]:
week1 = week1.merge(foods, how = "left", on = "Food ID", sort = True)

In [ ]:
week1.head()

## The `left_on` and `right_on` Parameters

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")

In [ ]:
week2.head(3)

In [ ]:
customers.head(3)

In [ ]:
week2 = week2.merge(customers, how = "left", left_on = "Customer ID", right_on = "ID", sort = True).drop("ID", axis = "columns")

In [ ]:
week2.head()

## Merging by Indexes with the `left_index` and `right_index` Parameters

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv", index_col = "ID")
foods = pd.read_csv("Restaurant - Foods.csv", index_col = "Food ID")

In [ ]:
foods.head(3)

In [ ]:
sales = week1.merge(customers, how = "left", left_on = "Customer ID", right_index = True)
sales = sales.merge(foods, how = "left", left_on = "Food ID", right_index = True)
sales.head(3)

In [ ]:
week1.head(3)

In [ ]:
week2.head(3)

In [ ]:
week1.merge(week2, how = "left", left_index = True, right_index = True, suffixes = [" - Week 1", " - Week 2"])

## The `.join()` Method

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")

In [ ]:
week1.head(3)

In [ ]:
satisfaction.head(3)

In [ ]:
week1.merge(satisfaction, how = "left", left_index = True, right_index = True).head()

In [ ]:
week1.join(satisfaction).head()

## The `pd.merge()` Method

In [ ]:
week1 = pd.read_csv("Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("Restaurant - Customers.csv")
foods = pd.read_csv("Restaurant - Foods.csv")
satisfaction = pd.read_csv("Restaurant - Week 1 Satisfaction.csv")

In [ ]:
week1.head(3)

In [ ]:
customers.head(3)

In [ ]:
pd.merge(week1, customers, how = "left", left_on = "Customer ID", right_on = "ID")